$rem-baseline: 16;

$dark-text: rgb(41, 40, 40);
$light-text: rgb(141, 136, 136);

$bgc-popup: rgb(28, 35, 42);
$bgc-price: rgb(242, 242, 242);
$bgc-tab: rgb(208, 226, 240);
$bgc-btn: rgb(42, 94, 241);

$color-light: rgb(255, 255, 255);
$color-dark: rgb(0, 0, 0);
$color-link: rgb(114, 174, 252);
$color-border: rgb(228, 223, 223);
